*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
    width: 100%;
}
.containerFather{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    grid-template-rows: 0.5fr 5fr;
}

.container1{
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1/3;
}

.container2{
    width: 100%;
    height: 10rem;
    background-color: rgb(255, 184, 77);
    z-index: 100;
    grid-column: 2;
    grid-row: 1;
}

.container3{
    background-color: chocolate;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
}
.son1-container3{
    grid-row: 1;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}
.son1-container3 div{
    grid-column: 1;
    justify-content: left;
}
.son1-container3 button {
    grid-column: 2;
    justify-content: right;
    border: 1px solid;
}

.son2-container3{
    display: flex;
    justify-content: space-around;
    grid-row: 2;
}
#modal{
    width: 70%;
    height: auto; 
    background-color: white;
}