<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../style/dashboard.css">
</head>
<body>

    <div class="containerFather">
        <section class="container1">
                <h1>hodasidaoshj</h1>
        </section>

            <section class="container2"><h2>hoa</h2></section>

            <section class="container3">
                <div class="son1-container3">
                    <h2>Task Manager</h2>
                    <button id="addTask">add Task</button>
                </div>

                <section class="son2-container3" >
                    <div class="grandson1"></div>
                    <div class="grandson2"></div>
                    <div class="grandson3"></div>
                    <div class="grandson4"></div>
                </section>

                <div id="containerUser" class="son-conyainer3">
                    <ul>
                        <li>

                        </li>
                    </ul>
                </div>
            </section>
    </div>
    

    <script    type="module" src="../shared/listening.js"></script>
    <script    type="module" src="../js/logout.js"></script>
</body>

</html>